{% extends "base.html" %}

{# 条件加载 CSS #}
{% block extrahead %}
  {{ super() }}
  <link rel="icon" type="image/svg+xml" href="{{ 'assets/images/favicon.svg' | url }}" />
  <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico' | url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/images/apple-touch-icon.png' | url }}" />
  <link rel="manifest" href="{{ 'assets/site.webmanifest' | url }}" />
  <meta name="apple-mobile-web-app-title" content="MeNeither" />
  {% if page and page.meta and page.meta.katex %}
    <link rel="stylesheet" href="https://unpkg.com/katex@0/dist/katex.min.css"> 
    <link rel="stylesheet" href="{{ 'assets/stylesheets/katex.css' | url }}">
  {% endif %}
  {% if page and page.meta and page.meta.pseudocode %}
    <link rel="stylesheet" href="{{ 'assets/stylesheets/pseudocode.min.css' | url }}">
  {% endif %}
{% endblock %}

{# 条件加载 JS #}
{% block scripts %}
  {{ super() }}
  {% if page and page.meta and page.meta.katex %}
    <script src="https://unpkg.com/katex@0/dist/katex.min.js"></script> 
    <script src="https://unpkg.com/katex@0/dist/contrib/auto-render.min.js"></script> 
    <script src="{{ 'assets/javascripts/katex.js' | url }}"></script>
  {% endif %}
  {% if page and page.meta and page.meta.pseudocode %}
    <script src="{{ 'assets/javascripts/pseudocode.min.js' | url }}"></script>
    <script src="{{ 'assets/javascripts/pesudocode-render.js' | url }}"></script>
  {% endif %}
{% endblock %}